.about-us {
  display: flex;
  padding: 80px 0;
  .about-us-item {
    max-width: 270px;
    width: 100%;
    padding: 0 15px;
    .about-us-item__text {
      font-size: 59px;
      line-height: 90px;
      text-align: center;
      color: #333333;
    }
    .about-us-item__description {
      font-weight: 700;
      font-size: 18px;
      line-height: 24px;
      text-align: center;
      color: #000000;
    }
  }
}

@media screen and (max-width: 670px) {
  .about-us {
    flex-wrap: wrap;
    justify-content: center;
    .about-us-item {
      width: 220px;
      padding: 15px 15px;
    }
  }
}
