.background-second-block {
  background: #1b1b1b;
  width: 100%;
  max-height: 957px;
  height: 100%;
  overflow: hidden;
}

.app-block {
  display: flex;
  flex-direction: column;
  padding: 0 15px;
  .text-app-block {
    max-width: 700px;
    height: 221px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding-top: 90px;
    .text-app-block__title {
      font-size: 12px;
      line-height: 20px;
      text-align: center;
      letter-spacing: 2px;
      text-transform: uppercase;
      padding: 20px 0 30px;
      color: #a8a8a8;
    }
    .text-app-block__description {
      font-size: 38px;
      line-height: 48px;
      text-align: center;
      color: #ffffff;
      @media screen and (max-width: 560px) {
        font-size: 30px;
      }
    }
  }
  img {
    display: inline-block;
    max-width: 1200px;
    width: 100%;
  }
}
