.header{
	width: 100%;
}

.menu{
	display: none;
}

.header__inner{
	display: flex;
	justify-content: space-between;
	padding: 40px 0;
	.logo-img-link{
		padding-left: 15px;
	}
}

.nav-bar__list{
	display: flex;
	.nav-bar__item{
		margin: 0 15px;
		font-size: 16px;
		line-height: 20px;
		&:hover{
			cursor: pointer;
			border-bottom: 1px solid #ffffff;
		}
	}
}

@media screen and (max-width:560px){
	.nav-bar__list{
		display: none;
	}

	.menu{
		display: block;
		padding: 0 15px;
	}
}